.certs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  .certificate {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #ebebeb;

    .image {
      width: 100%;
      cursor: pointer;
      //height: 100%;
      .details {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3, p, span {
          margin: 0;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}