@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//define color variables for global use both light and dark mode


// define global styles
.light {
  --body-bg: white;
  --box-bg: #332E3C;
  --body-color: black;
  --text-color: black;
  --link-color: black;
  --link-hover-color: black;
  --link-visited-color: black;
  --heading-color: black;
  --primary-color: rgb(232, 80, 91);
  --glass-color: rgba(255, 255, 255, 0.2);
}

body {
  background: var(--body-bg);
  margin: 0;
  padding: 0;
  color: var(--body-color);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

}

$container-max-width: 1200px; // Adjust as needed

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; // Adjust as needed
  padding-right: 15px; // Adjust as needed
  box-sizing: border-box;

  // Responsive styles
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: $container-max-width;
  }
}

.main {
  padding: 10px 0 10px 0;
}
